.qmake.stash
Makefile
*.o
libsimExtVision.1.0.0.dylib
libsimExtVision.1.0.dylib
libsimExtVision.1.dylib
libsimExtVision.dylib
libsimExtVision.so
libsimExtVision.so.1
libsimExtVision.so.1.0
libsimExtVision.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
*.pro.user
*.user
