.qmake.stash
Makefile
*.o
libsimVision.1.0.0.dylib
libsimVision.1.0.dylib
libsimVision.1.dylib
libsimVision.dylib
libsimVision.so
libsimVision.so.1
libsimVision.so.1.0
libsimVision.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
*.pro.user
*.user
